.control-grid-speed
    width 100%
    display flex
    justify-content space-between

    &__title
        flex-grow 1 

    &__button
        margin-right 15px
        
        &:last-child
            margin-right 0