.bottom-menu
    display flex
    flex-direction column
    width 650px
  
    &__control-grid-size 
        margin-bottom 10px
        
    &__control-grid-speed
        display flex
        justify-content space-between 