.button 
    background #222
    color #ddd
    border-radius 5px
    text-transform capitalize
    cursor pointer
    
    &_active
        background-color #faa
        color #222
    
    &_size
        
        &_fat
            width 100px
            height 30px
            height 30px
            font-size 20px
        
        &_flat
            width 140px
            height 27px
            font-size 16px